---
import "../../styles/global.css";
import PresupuestoListItem from "./PresupuestoListItem.astro";
import { listCC } from "../../pages/api/proyectos/presupuesto.ts";
import EditarCC from "./PresupuestoEditar.astro";
import EliminarCC from "./PresupuestoEliminar.astro";
import AgregarCC from "./PresupuestoAgregar.astro";
let presupuestos: any[] = [];
let error = "";

try {
  presupuestos = await listCC();
} catch (e) {
  error = "Error cargando presupuestos.";
  presupuestos = [];
}
---

<div class="mx-auto mt-8 bg-white p-6 rounded-xl shadow border">
  <div class="flex justify-between items-center mb-4"></div>
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-lg font-bold text-blue-700">Presupuestos asignados</h2>
    <button
    onclick={`import('/src/components/proyectos/centro-costo-modal.js').then(m => m.openNewModal({ }))`} 
      class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded transition duration-200 text-sm whitespace-nowrap"
    >  
    Agregar Centro de Costo</button>
  </div>
  {
    error ? (
      <div class="text-red-600">{error}</div>
    ) : presupuestos.length === 0 ? (
      <div class="text-gray-500">No hay presupuestos asignados.</div>
    ) : (
      <table class="w-full text-sm border">
        <thead>
          <tr class="bg-blue-100">
            <th class="p-2 border-b text-left">Codigo</th>
            <th class="p-2 border-b text-left">Cliente</th>
            <th class="p-2 border-b text-left">Coordinador</th>
            <th class="p-2 border-b text-left">Proyecto</th>
            <th class="p-2 border-b text-left">Presupuesto (S/ )</th>
            <th class="p-2 border-b text-left">Consumido (S/ )</th>
            <th class="p-2 border-b text-left">Disponible (S/ )</th>
            <th class="p-2 border-b text-right">Estado</th>
            <th class="p-2 border-b text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {presupuestos.map((p) => (
            <PresupuestoListItem
            id={p.id}
              codigo={p.codigo}
              cliente={p.cliente}
              coordinador={p.coordinador}
              proyecto={p.proyecto}
              presupuesto={p.presupuesto}
              estado={p.estado}
            />
          ))}
        </tbody>
      </table>
    )
  }
</div>
